@import "style";

.normal__btn {
  border-style: none;
  background-color: $theme-color;
  border-radius: $border-radius-6;
  padding: 12px 20px;
  a {
    text-decoration: none;
    color: $secondary-color;
    font-size: $fontsize-16;
    font-weight: $fontweight-medium;
  }
}

.tag__btn {
    border-style: none;
    background-color: $theme-color;
    border-radius: $border-radius-6;
    padding: 8px 16px;
    a {
      text-decoration: none;
      color: $secondary-color;
      font-size: $fontsize-16;
      font-weight: $fontweight-regular;
    }
  }

  .wide__btn {
    border-style: none;
    background-color: $theme-color;
    border-radius: $border-radius-6;
    padding: 18px 74px;
    a {
      text-decoration: none;
      color: $secondary-color;
      font-size: $fontsize-16;
      font-weight: $fontweight-medium;
    }
  }
  .container__btn {
    width: 100%;

  }
  .contact__btn {
    display: block;
    // width: 366px; //366
    width: 100%;
    height: 48px;
    border-style: none;
    background-color: $theme-color;
    border-radius: $border-radius-6;
    font-family: rob;
    // padding: 18px 150px;

    a {
      text-decoration: none;
      color: $secondary-color;
      font-size: $fontsize-16;
      font-weight: $fontweight-medium;
      font-family: 'Montserrat', sans-serif;

    }
  }


  
