@import 'style';

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100%;
    // color: black;
    height: 100px;
    box-shadow: 1px 1px 10px 1px lightgray;
}
.header__sections {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.section__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}
.left__title {
    text-decoration: none;
    color: $main-color;
    font-size: $fontsize-16;
    font-weight: $fontweight-medium;
}
.right__title {
    text-decoration: none;
    color: $main-color;
    font-size: $fontsize-16;
    font-weight: $fontweight-medium;
}

