@import 'style';

.projectssection__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 105px;
    padding: 0 24px ;

    h2 {
        width: 100%;
        font-size:  $fontsize-24;
        font-weight: $fontweight-semibold;
        text-align: left;
        // padding-left: 40px;
        margin-bottom: 32px;
    }
}


@media (min-width: 900px) {


    .productList {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 28px;
        margin-bottom: 24px;
    }
    .projectssection__container {

        h2 {
            width: 50%;
        }

    }

}