@import 'style';
.progectpage {
    display: flex;
    align-items: center;
    justify-content: center;
}
.projectpage__container {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 0 24px ;

    h2 {
        font-size:  $fontsize-24;
        font-weight: $fontweight-semibold;
        text-align: left;
        width: 100%;
        margin-bottom: 43px;
    }
  
}





@media (min-width: 600px)  {
    
    .projectpage__container {

        h2 {
            width: 60%;
        }
    }
    .projectpage__cards {
        gap: 24px;
        width: 70%;
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        h2{    
            padding: 0;
        }
    }
    
}


@media (min-width: 1440px)  {
  
   
    .projectpage__container {
        width: 100%;
        h2 {
            width: 65%;
        }
    }
    .projectpage__cards {
        gap: 24px;
        width: 70%;
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        h2{    
        padding: 0;
    }
    }
    
}
