@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

$white-bg : #fafafa;
$theme-color : #5222d0;
$main-color: #1f2626;
$secondary-color : #dbffff;
$title-color : #151717;
$card-bg : #f5f2fd;
$error-color : #c05353;
$border-radius-6 : 6px;
$fontsize-10 : 1rem;
$fontsize-12 : 1.2rem;
$fontsize-14 : 1.4rem;
$fontsize-16 : 1.6rem; 
$fontsize-18 : 1.8rem;
$fontsize-20 : 2rem;
$fontsize-24 : 2.4rem;
$fontsize-40 : 4.0rem;
$fontsize-72 : 7.2rem;
$fontweight-regular : 400;
$fontweight-medium : 500;
$fontweight-semibold : 600;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { 
    font-size: 10px;
}

body {
    font-family: 'Montserrat', sans-serif;
}
